main {
    width: 100%;
    min-height: 100vh;
    background-image:
        url("/hero-stars.png"),
        url("/hero-bg.jpg");

    background-size:
        cover,
        cover;

    background-repeat:
        repeat,
        no-repeat;

    background-position:
        center,
        center;
}


.achievements {
    /* From https://css.glass */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    background: #000;

}